# Ignorer le dossier des modules Node.js
node_modules/

# Ignorer le fichier des variables d'environnement
.env

# Fichiers logs npm
npm-debug.log

# Fichier de configuration de l'IDE (si on échange avec des Mac users)
.DS_Store
